﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Școala de Muzică Amadeus reprezintă o inițiativă particulară cu programă clasică și creștină, dedicată pregatirii muzicale și dezvoltării atât celor mici cât și adulților prin această artă." />
    <meta name="keywords" content="scoala de muzica amadeus, scoala crestina amadeus, scoala amadeus, amadeus, scoala amadeus razvan nemes, scoala amadeus liceul pro deo, scoala amadeus cluj, amadeus cluj, scoala crestina amadeus cluj napoca, scoala amadeus cluj napoca" />
    <meta name="author" content="scoala amadeus by netMirror" />
    <meta name="facebook-domain-verification" content="mivle4mswq00saghkx7ifnqix85qyn" />

    <link rel="shortcut icon" type="image/png" href="~/Content/IMAGES/Amadeus.png" />

    <title>@ViewBag.Title - Oficial</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134287062-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-134287062-1');
    </script>
    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KTKSVNK');</script>
    <!-- End Google Tag Manager -->

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
    <link href="~/Content/ASSETS/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/ASSETS/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/Content/ASSETS/css/ionicons.css" rel="stylesheet" type="text/css">
    <link href="~/Content/ASSETS/css/flaticon.css" rel="stylesheet" type="text/css">
    <link href="~/Content/ASSETS/css/jquery.fancybox.css" rel="stylesheet" type="text/css">
    <!--Main Slider-->
    <link href="~/Content/ASSETS/css/settings.css" type="text/css" rel="stylesheet" media="screen">
    <link href="~/Content/ASSETS/css/layers.css" type="text/css" rel="stylesheet" media="screen">
    <link href="~/Content/ASSETS/css/layers.css" type="text/css" rel="stylesheet" media="screen">
    <link href="~/Content/ASSETS/css/owl.carousel.css" type="text/css" rel="stylesheet" media="screen">
    <link href="~/Content/ASSETS/css/style.css" rel="stylesheet">
    <link href="~/Content/ASSETS/css/header.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ASSETS/css/footer.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ASSETS/css/index5.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ASSETS/css/theme-color/default.css" rel="stylesheet" type="text/css" id="theme-color" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />

    <!-- Facebook Pixel Code -->
    <script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '1957447824419991');
	fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1957447824419991&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTKSVNK"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--loader-->
    <div id="preloader">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>

    <!--loader-->
    <!-- HEADER -->
    <header id="header" class="header header-1 header_tran">
        <div class="top_patti hidden-sm-down">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="info">
                            <div class="info-item">
                                <span class="fa fa-phone"></span> <a href="tel:0756569364">0756 569 364</a>
                            </div>

                            <div class="info-item">
                                <span class="fa fa-envelope-o"></span><a href="mailto:contact@scoalaamadeus.ro" title="" style="color:white"> contact@scoalaamadeus.ro</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-wrap">
            <div class="reletiv_box">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 d-flex align-items-center">
                            <div class="logo">
                                <a href="/ScoalaAmadeus/Acasa"><img src="~/Content/IMAGES/AmadeusLogoAlb.png" alt="" style="width:60%;"></a>
                            </div>
                            <!-- Phone Menu button -->
                            <button id="menu" class="menu hidden-md-up"></button>
                        </div>
                        <div class="col-md-9 nav-bg" style="padding:0">
                            <nav class="navigation" style="background-color:#1c2430">
                                <ul>
                                    <li>
                                        <a href="/ScoalaAmadeus/Acasa">Acasă</a><i class="ion-ios-plus-empty hidden-md-up"></i>
                                    </li>
                                    <li>
                                        <a href="#!" style="text-transform:none">Despre noi</a><i class="ion-ios-plus-empty hidden-md-up"></i>
                                        <ul class="sub-nav">
                                            <li>
                                                <a href="/ScoalaAmadeus/MesajulDirectorului" style="text-transform:none">Mesajul directorului</a>
                                            </li>
                                            <li>
                                                <a href="/ScoalaAmadeus/Echipa">Echipa</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:avoid(0);">Cursuri</a><i class="ion-ios-plus-empty hidden-md-up"></i>
                                        <ul class="sub-nav">

                                            <li>
                                                <a href="/ScoalaAmadeus/Pian">Pian</a>
                                            </li>
                                            <li>
                                                <a href="/ScoalaAmadeus/Vioara">Vioară</a>
                                            </li>
                                            <li>
                                                <a href="/ScoalaAmadeus/Percutie">Percuție</a>
                                            </li>
                                            <li>
                                                <a href="/ScoalaAmadeus/Chitara">Chitară</a>
                                            </li>
                                            <li>
                                                <a href="/ScoalaAmadeus/DirijatCoral" style="text-transform:none">Dirijat coral</a>
                                            </li>
                                            <li>
                                                <a href="/ScoalaAmadeus/Canto">Canto</a>
                                            </li>
                                            <li>
                                                <a href="/ScoalaAmadeus/TeorieSolfegiuIstoriaMuzicii" style="text-transform:none">Teorie, solfegiu și istoria muzicii</a>
                                            </li>
                                            <li>
                                                <a href="/ScoalaAmadeus/CompozitieArmonieForme" style="text-transform:none">Compoziție, armonie și forme</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:avoid(0);">Ateliere</a><i class="ion-ios-plus-empty hidden-md-up"></i>
                                        <ul class="sub-nav">
                                            <li>
                                                <a href="/ScoalaAmadeus/AtelierCopii" style="text-transform:none">Ateliere pentru copii</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/ScoalaAmadeus/TarifeSiStructuraCursurilor" style="text-transform:none">Tarife și structură</a><i class="ion-ios-plus-empty hidden-md-up"></i>
                                    </li>
                                    <li>
                                        <a href="javascript:avoid(0);">Media</a><i class="ion-ios-plus-empty hidden-md-up"></i>
                                        <ul class="sub-nav">
                                            <li>
                                                <a href="/ScoalaAmadeus/GalerieFoto" style="text-transform:none">Galerie foto</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/ScoalaAmadeus/Concurs">Concurs</a><i class="ion-ios-plus-empty hidden-md-up"></i>
                                    </li>
                                    <li>
                                        <a href="/ScoalaAmadeus/Contact">Contact</a><i class="ion-ios-plus-empty hidden-md-up"></i>
                                    </li>

                                </ul>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER -->

    @RenderBody()

    <!-- Footer_Section -->
    <footer class="footer pt-50" style="padding-top:0">
        <div class="container" style="width:100%; margin-left:0;margin-right:0;">
            <div class="row">
                <div class="col-md-3 col-lg-3 mt-xs-30 link_footer" style="text-align:center; padding-top:30px">
                    <h4>Informații</h4>
                    <ul>
                        <li>
                            <a href="/ScoalaAmadeus/Acasa">Acasă</a>
                        </li>
                        <li>
                            <a href="/ScoalaAmadeus/Echipa">Echipa</a>
                        </li>
                        <li>
                            <a href="/ScoalaAmadeus/GalerieFoto">Galerie foto</a>
                        </li>
                        <li>
                            <a href="/ScoalaAmadeus/Contact">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-9 col-lg-3 footer_logo" style="padding-top:50px;background-color:#2d3c51; margin-bottom:0">
                    <a href="/ScoalaAmadeus/Acasa"><img src="~/Content/IMAGES/AmadeusCroppedInverted.png" alt="" /></a>

                    <ul>
                        <li class="float-right">
                            <p>
                                Urmăriți-ne pe Facebook &nbsp;
                                <a target="_blank" href="https://www.facebook.com/%C8%98coala-Amadeus-291761214710421/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-12 col-lg-6 mt-sm-30 mt-xs-30 footer-latest-news" style="background-color:#202b3a; padding-top:30px;margin-top:0;">
                    <h4 style="margin-bottom:0">Ultimele noutăți</h4>
                    <div class="single-news">
                        <h5>
                            <a href="#" style="pointer-events: none; cursor: default;">
                                Școala Amadeus deschide o nouă secție muzicală: Cânt Vocal/Canto.
                                Deschidem lista înscrierilor astăzi, 6 februarie 2019 pentru oricine este interesat de dezvoltarea cântului vocal. Preocuparea noastră este deprinderea unei tehnici corecte de respirație, a unei emisii sonore lejere și formarea vocii, prin însușirea unui ambitus cât mai amplu, împreună cu timbrul natural al vocii.
                                Vă așteptăm cu drag şi nerăbdare să vă înscrieți la cursurile noastre care vor fi susținute de Radu Cîmpan.
                            </a>
                        </h5>
                        <span>06 Februarie, 2019  /  Secție nouă</span>
                    </div>
                    <div class="single-news">
                        <h5><a href="#" style="pointer-events: none; cursor: default;">Școala Amadeus face noi înscrieri pentru secția instrumentală (pian, vioară, tobe). Te așteptăm până în data de 01 februarie 2019 să te înscrii la unul din instrumentele care te pasionează! Vârsta de începere a studiului muzical este de 6-7 ani.</a></h5>
                        <span>10 Ianuarie, 2019  /  Înscrieri</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="bottom-footer text-center" style="margin-top:0; background-color:#1c2430">
            <hr style="display: block; height: 1px; border: 0; border-top: 1px solid #5c5e60; margin: 1em 0; margin-bottom:0; padding: 0; opacity:0.4; margin-top:0" />
            <div class="container">
                <div class="bor_top clearfix" style="margin:0">
                    <p>Copyright &copy; @DateTime.Now.Year | ȘCOALA <strong>AMADEUS</strong>. Toate drepturile rezervate.</p>
                    <p>Powered by <a style="color:white; font-weight:bold" href="http://netmirror.eu">netMirror</a></p>
                </div>
            </div>
        </div>
    </footer>

    <section title="Sripts Section">
        <!-- Site Wraper End -->
        <script type="text/javascript" src="~/Content/ASSETS/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/Content/ASSETS/js/tether.min.js"></script>
        <script type="text/javascript" src="~/Content/ASSETS/js/bootstrap.min.js"></script>
        <script src="~/Content/ASSETS/js/jquery.easing.js" type="text/javascript"></script>

        <!-- fancybox Js -->
        <script src="~/Content/ASSETS/js/jquery.mousewheel-3.0.6.pack.js" type="text/javascript"></script>
        <script src="~/Content/ASSETS/js/jquery.fancybox.pack.js" type="text/javascript"></script>
        <!-- carousel Js -->
        <script src="~/Content/ASSETS/js/owl.carousel.js" type="text/javascript"></script>

        <!-- imagesloaded Js -->
        <script src="~/Content/ASSETS/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
        <!-- masonry,isotope Effect Js -->
        <script src="~/Content/ASSETS/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
        <script src="~/Content/ASSETS/js/isotope.pkgd.min.js" type="text/javascript"></script>
        <script src="~/Content/ASSETS/js/masonry.pkgd.min.js" type="text/javascript"></script>
        <script src="~/Content/ASSETS/js/jquery.appear.js" type="text/javascript"></script>
        <!-- Mail Function Js -->
        <script src="~/Content/ASSETS/js/mail.js" type="text/javascript"></script>

        <!-- revolution Js -->
        <script type="text/javascript" src="~/Content/ASSETS/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="~/Content/ASSETS/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="~/Content/ASSETS/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="~/Content/ASSETS/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="~/Content/ASSETS/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="~/Content/ASSETS/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="~/Content/ASSETS/js/jquery.revolution.js"></script>
        <!-- custom Js -->
        <script src="~/Content/ASSETS/js/custom.js" type="text/javascript"></script>
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
    </section>
</body>
</html>
