﻿<!--  Main Banner Start Here-->
<div class="main-banner banner_up">
    <div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper" data-alias="news-gallery34">
        <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
        <div id="rev_slider_34_1" class="rev_slider" data-version="5.0.7">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-129">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/IMAGES/1.CUB/ViolinGirl.jpg" alt="" class="rev-slidebg">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title tp-resizeme "
                         id="slide-129-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
                         data-y="['top','top','top','center']" data-voffset="['230','135','50','0']"
                         data-fontsize="['50','50','50','30']"
                         data-lineheight="['55','55','55','35']"
                         data-width="['600','600','600','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        <div class="banner-text">
                            <span class="sub-text">suntem aici pentru tine</span>
                            <h2><b>Școala de muzică </b>AMADEUS</h2>
                            <p>
                                Școala de Muzică Amadeus reprezintă o inițiativă particulară cu programă clasică și creștină, dedicată pregătirii muzicale și dezvoltării atât celor mici cât și adulților prin această artă.
                            </p>
                        </div>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-130" data-title="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/IMAGES/1.CUB/PianoBoy.jpg" alt="" class="rev-slidebg">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title   tp-resizeme "
                         id="slide-130-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
                         data-y="['top','top','top','center']" data-voffset="['230','135','50','0']"
                         data-fontsize="['50','50','50','30']"
                         data-lineheight="['55','55','55','35']"
                         data-width="['600','600','600','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        <div class="banner-text">
                            <span class="sub-text">suntem aici pentru tine</span>
                            <h2><b>Școala de muzică </b>AMADEUS</h2>
                            <p>
                                Studierea unui instrument muzical aduce beneficii uimitoare creierului, solicitând simultan mai multe regiuni cerebrale decât orice altă activitate intelectuală. Aduce și beneficii spirituale deoarece muzica a fost creată pentru suflet cu principalul scop de a-L lăuda pe Creatorul ei.
                            </p>
                        </div>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-131">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/IMAGES/1.CUB/ViolinBoy.jpg" alt="" class="rev-slidebg ">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title   tp-resizeme "
                         id="slide-131-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
                         data-y="['top','top','top','center']" data-voffset="['230','135','50','0']"
                         data-fontsize="['50','50','50','30']"
                         data-lineheight="['55','55','55','35']"
                         data-width="['600','600','600','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        <div class="banner-text">
                            <span class="sub-text">suntem aici pentru tine</span>
                            <h2><b>Școala de muzică </b>AMADEUS</h2>
                            <p>
                                În cadrul școlii vor fi predate ore de pian, vioară, chitară, percuție, dirijat coral, canto, teoria muzicii, istoria muzicii, armonie, compoziție, forme și ateliere pentru preșcolari.
                            </p>
                        </div>
                    </div>
                </li>
                <!-- SLIDE  -->
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
</div>
<div style="background-color: rgb(254, 189, 89); text-align: center;">
    <div>
        <div>
            <div >
                <a href="/ScoalaAmadeus/DownloadRegulament">Regulament</a>
            </div>
            <div>
                <a href="/ScoalaAmadeus/DownloadFisaDeInscriere">Fișă de Înscriere</a>
            </div>
        </div>
        <div style="text-align: center">
            <img src="~/Content/Concursuri/1/Poster.jpeg" style="height: 33%; width: 33%"/>
        </div>
    </div>
</div>
<!--  Main Banner End Here-->
<div style="width: 100%; max-height: 100%; background-image: url('/Content/VIDEO/VideoPianoViolinBackground4Q.png');">
    <video style="z-index: 1; padding-top: 10px" height="480" width="640" controls controlsList="nodownload" poster="/Content/Video/VideoPoster3.jpg">
        <source src="~/Content/VIDEO/Scoala de muzica Amadeus - an scolar 2020-2021 II.mp4" type="video/mp4" />
    </video>
</div>
<!-- About_Section -->
<section class="padding ptb-xs-40 about_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="about_company">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title_home about_title pb-30 ">
                                <p>
                                    Bine ați venit pe site-ul Școlii de Muzică Amadeus!
                                </p>
                                <h2 style="text-transform:none">Noi facem ca pasiunile muzicale ale copiilor dumneavoastră să prindă contur</h2>

                            </div>
                            <p>
                                Școala de Muzică Amadeus reprezintă o inițiativă particulară cu programă clasică și creștină, dedicată pregătirii muzicale și dezvoltării atât celor mici cât și adulților prin această artă.
                                Studierea unui instrument muzical aduce beneficii uimitoare creierului, solicitând simultan mai multe regiuni cerebrale decât orice altă activitate intelectuală. Aduce si beneficii spirituale deoarece muzica a fost creată pentru suflet cu principalul scop de a-L lăuda pe Creatorul ei.
                            </p>
                            <p class="float-right"><b>Răzvan Nemeș - Director</b></p>
                            @*<div class="about_btn">
                                    <a href="#" class="btn-text">About Us <i class="fa fa-angle-double-right icon_effect"></i></a>
                                </div>*@
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 no-padding right_absolute hidden-md-down"></div>
</section>
<div style="width: 100%; max-height: 100%; background-image: url('/Content/VIDEO/VideoPianoViolinBackground4Q.png');">
    <video style="z-index: 1; padding-top: 10px" height="480" width="640" controls controlsList="nodownload" poster="/Content/Video/VideoPoster2.jpg">
        <source src="/Content/VIDEO/Amadeus.mp4" type="video/mp4" />
    </video>
</div>
<!-- About_Section_End -->
<!-- Counter_Section -->
<section class="padding ptb-xs-40 counter_sec">
    <div class="container">
        <div class="row text-center light-color">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="section-title_home">
                    <h2 class="mb-30" style="text-transform:none">Activitatea școlii de muzică Amadeus</h2>
                    <p>
                        Mai jos, în cifre, rezumatul activității noastre
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="counter_box">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="row bg_withe">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-fact">

                            <span class="counter" data-count="9">0</span>
                            <p>
                                Cursuri
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-xs-30">
                        <div class="single-fact">

                            <span class="counter" data-count="90">0</span>
                            <p>
                                Elevi
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-sm-30 mt-xs-30">
                        <div class="single-fact">

                            <span class="counter" data-count="14">0</span>
                            <p>
                                Profesori
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-sm-30 mt-xs-30">
                        <div class="single-fact">
                            <!--SCRIPT INLINE PENTRU CALCULUL ZILELOR DE CAND ESTE DESCHISA SCOALA DE MUZICA AMADEUS-->
                            <script src="~/Content/ASSETS/js/jquery.min.js"></script>
                            <script>
                                $(document).ready(function () {
                                    var todaysDate = new Date();
                                    var startDate = new Date("09/17/2018");
                                    var timeDiff = Math.abs(startDate.getTime() - todaysDate.getTime());
                                    var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
                                    $('#zileId').attr('data-count', diffDays);
                                });
                            </script>
                            <span id="zileId" class="counter" data-count="">0</span>
                            <p>
                                Zile de activitate
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter_Section_End -->
<!-- Service_Section -->
<section class="padding ptb-xs-40 gray-bg service_sec">
    <div class="container">
        <div class="row text-center mb-20 mb-xs-30">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="section-title_home">
                    <h2 class="mb-30" style="text-transform:none">Servicii de calitate</h2>
                    <p>
                        Calitatea umană și profesională ale cadrelor didactice generează rezultate deosebite.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">

            <!--Services Block-->
            <div class="services-block col-lg-4 col-md-6 col-xs-12 mb-30">
                <div class="inner-box hvr-float">
                    <div class="image">
                        <img src="~/Content/IMAGES/6. SERVICII/1. Pian3.jpg" alt="">

                        <div class="overlay-box d-flex align-items-center clearfix">
                            <div class="text">
                                @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>*@
                            </div>

                        </div>
                    </div>
                    <div class="lower-box">
                        <h3><a href="#!">Pian</a></h3>
                    </div>
                </div>
            </div>

            <!--Services Block-->
            <div class="services-block col-lg-4 col-md-6 mb-30">
                <div class="inner-box hvr-float">
                    <div class="image">
                        <img src="~/Content/IMAGES/6. SERVICII/2. Vioara2.jpg" alt="">

                        <div class="overlay-box d-flex align-items-center clearfix">
                            <div class="text">
                                @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>*@
                            </div>

                        </div>
                    </div>
                    <div class="lower-box">
                        <h3><a href="#!">Vioară</a></h3>
                    </div>
                </div>
            </div>

            <!--Services Block-->
            <div class="services-block col-lg-4 col-md-6 mb-30">
                <div class="inner-box hvr-float">
                    <div class="image">
                        <img src="~/Content/IMAGES/6. SERVICII/3. Drums2.jpg" alt="">

                        <div class="overlay-box d-flex align-items-center clearfix">
                            <div class="text">
                                @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>*@
                            </div>

                        </div>
                    </div>
                    <div class="lower-box">
                        <h3><a href="#!">Percuție</a></h3>
                    </div>
                </div>
            </div>

            <!--Services Block-->
            <div class="services-block col-lg-4 col-md-6 mb-30">
                <div class="inner-box hvr-float">
                    <div class="image">
                        <img src="~/Content/IMAGES/6. SERVICII/4. Guitar3.jpg" alt="">

                        <div class="overlay-box d-flex align-items-center clearfix">
                            <div class="text">
                                @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>*@
                            </div>

                        </div>
                    </div>
                    <div class="lower-box">
                        <h3><a href="#!">Chitară</a></h3>
                    </div>
                </div>
            </div>

            <!--Services Block-->
            <div class="services-block col-lg-4 col-md-6 col-xs-12 mb-30">
                <div class="inner-box hvr-float">
                    <div class="image">
                        <img src="~/Content/IMAGES/6. SERVICII/5. Director3.jpg" alt="">

                        <div class="overlay-box d-flex align-items-center clearfix">
                            <div class="text">
                                @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>*@
                            </div>

                        </div>
                    </div>
                    <div class="lower-box">
                        <h3><a href="#!">Dirijat coral</a></h3>
                    </div>
                </div>
            </div>



            <!--Services Block-->
            <div class="services-block col-lg-4 col-md-6 col-xs-12 mb-30">
                <div class="inner-box hvr-float">
                    <div class="image">
                        <img src="~/Content/IMAGES/6. SERVICII/7. Canto2.jpg" alt="">

                        <div class="overlay-box d-flex align-items-center clearfix">
                            <div class="text">
                                @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>*@
                            </div>

                        </div>
                    </div>
                    <div class="lower-box">
                        <h3><a href="#!">Canto</a></h3>
                    </div>
                </div>
            </div>

            <!--Services Block-->
            <div class="services-block col-lg-4 col-md-6 mb-30">
                <div class="inner-box hvr-float">
                    <div class="image">
                        <img src="~/Content/IMAGES/6. SERVICII/8. TSIstoriaMuzicii.jpg" alt="">

                        <div class="overlay-box d-flex align-items-center clearfix">
                            <div class="text">
                            </div>

                        </div>
                    </div>
                    <div class="lower-box">
                        <h3><a href="#!">Teorie, solfegiu, istoria muzicii</a></h3>
                    </div>
                </div>
            </div>

            <!--Services Block-->
            <div class="services-block col-lg-4 col-md-6 mb-30">
                <div class="inner-box hvr-float">
                    <div class="image">
                        <img src="~/Content/IMAGES/6. SERVICII/9. Compozitie.jpg" alt="">

                        <div class="overlay-box d-flex align-items-center clearfix">
                            <div class="text">
                            </div>

                        </div>
                    </div>
                    <div class="lower-box">
                        <h3><a href="#!">Compoziție, armonie, forme</a></h3>
                    </div>
                </div>
            </div>

            <!--Services Block-->
            <div class="services-block col-lg-4 col-md-6 col-xs-12 mb-30">
                <div class="inner-box hvr-float">
                    <div class="image">
                        <img src="~/Content/IMAGES/6. SERVICII/6. Ateliere21.jpg" alt="">

                        <div class="overlay-box d-flex align-items-center clearfix">
                            <div class="text">
                                @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>*@
                            </div>

                        </div>
                    </div>
                    <div class="lower-box">
                        <h3><a href="#!">Ateliere pentru copii</a></h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Team_Section_End -->
<!--Testimonial Section Start-->
<hr style="display: block; height: 1px; border: 0; border-top: 1px solid #2d3c51; margin: 1em 0; margin-bottom:0; padding: 0; opacity:0.2; margin-top:0" />
<section class="testimonial-block__section padding ptb-xs-40">
    <div class="container">
        <div class="row text-center mb-60 mb-xs-30">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="section-title_home">
                    <h2 class="mb-30" style="text-transform:none">Clienți mulțumiți</h2>
                    <p>
                        Mai jos vă prezentăm câteva dintre opiniile clienților noștri referitoare la serviciile Școlii Amadeus.
                    </p>
                </div>
            </div>
        </div>
        <div id="testimonial" class="nf-carousel-theme nf-carousel-arrow">
            <div class="testimonial-box row">
                <div class="col-md-5">
                    <img src="~/Content/IMAGES/11. TESTIMONIALE/LuciSiPaula-Testimonial.jpg" alt="">
                </div>
                <div class="col-md-7 d-flex align-items-center">
                    <div class="quote-box">
                        <div class="quote-icon quote-left">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                        <div class="quote-text">
                            <p>
                                Amadeus este mai mult decât o școală de muzică. Este locul unde copilașul nostru merge cu drag.
                                Amadeus e un loc unde se predă cu pasiune, cu dragoste. Muzică, prieteni, dedicare, dragoste pentru Dumnezeu și pentru
                                semeni, dar mai ales pasiune pentru muzică...toate acestea reprezintă Amadeus. Unde există pasiune, există și excelență!
                            </p>
                        </div>
                        <div class="quote-icon quote-right">
                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                            <strong class="quote-author">Paula și Luci Rauca</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-box row">
                <div class="col-md-5">
                    <img src="~/Content/IMAGES/11. TESTIMONIALE/LoredanaMiclea-Testimonials.jpeg" alt="">
                </div>
                <div class="col-md-7 d-flex align-items-center">
                    <div class="quote-box">
                        <div class="quote-icon quote-left">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                        <div class="quote-text">
                            <p>
                                O echipă de profesioniști, o școală de muzică foarte bună, profesori de elită cu rezultate vizibile încă de la primele ședințe .
                                Suntem multumiți și incantați că am ales Școala de muzica Amadeus .
                                Vă dorim să rămaneți aceiași oameni frumoși, sub călăuzirea lui Dumnezeu!
                            </p>
                        </div>
                        <div class="quote-icon quote-right">
                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                            <strong class="quote-author">Loredana Miclea</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonial Section End-->