﻿<!-- Intro Section -->
<section style="background-image:url('../../Content/IMAGES/8. BANNERE/Atelier.jpg');" class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 style="text-transform:none" data-title="About"><span>Ateliere de muzică</span></h1>
                <div class="page-breadcrumb">
                    <a>Școala Amadeus</a>/ <span>Ateliere de muzică</span>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Mission Section -->
<div id="mission-section" class="ptb ptb-xs-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="block-title v-line mb-35 ">
                    <h2 style="text-transform: none"><span>Ateliere de muzică</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12" style="text-align: center; background-color: lightgrey; filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, 0.19)); padding:0">
                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F291761214710421%2Fvideos%2F262296654702282%2F&show_text=0&width=560&mute=0"
                        width="560"
                        height="315"
                        style="border: 0; margin-bottom:-8.5px; overflow: hidden; padding: 0; max-width: 100%;"
                        scrolling="no"
                        allowTransparency="true"
                        allowFullScreen="true"></iframe>
            </div>
        </div>
        <br />
        <hr style="display: block; height: 1px; border: 0; border-top: 1px solid #2d3c51; margin: 1em 0; margin-bottom:0; padding: 0; opacity:0.2; margin-top:0" />
        <br />
        <div>
            <p class="italic">
                Să-i cunoaștem pe profesorii noștri
            </p>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="about-block clearfix">
                    <div class="fl width-25per box-shadow mt-15 mb-xs-15">
                        <img class="img-responsive" src="~/Content/IMAGES/9. CURSURI/LidiaMoldovan-Atelier.jpg" alt="Photo">
                    </div>
                    <div class="text-box pt-45 pb-15 pl-70 pl-xs-0 width-75per fl">
                        <div class="box-title">
                            <h3>Lidia Moldovan</h3>
                        </div>
                        <div class="text-content">
                            <p>
                                Voi preda Atelierele de muzică pentru Preșcolari în cadrul Școlii Amadeus.
                                Sunt entuziasmată de proiect, pentru că cei mici sunt mai mereu dornici de cântat, mai ales dacă sunt ghidați corespunzător.
                            </p>
                            <p>
                                Astfel că tot ce se întâmplă la Atelier are ca scop insuflarea dragului pentru cântec și frumos! Ne vedem la cursuri!
                            </p>
                        </div>
                    </div>
                </div>
                <br />
                @*<div class="col-md-12 col-lg-12">
                    <div class="about-block mb-40  clearfix">
                        <div class="fr width-25per box-shadow-l mt-15 mb-xs-15">
                            <img class="img-responsive" src="~/Content/IMAGES/9. CURSURI/Priscila-atelier.jpeg" alt="Photo">
                        </div>
                        <div class="text-box text-right text-xs-left pt-45 pr-70 pr-xs-0 width-75per fl">
                            <div class="box-title">
                                <h3>Priscila Ioana Dan</h3>
                            </div>
                            <div class="text-content">
                                <p>
                                    Pasiunea pentru muzică a început încă de la o vârstă fragedă, dezvoltând această pasiune în cadrul Liceului de Arte din Baia Mare, Maramureș, unde timp de 12 ani a studiat pian și flaut. Pentru a-și perfecționa cunoștințele și având dorința de a-i învăța și pe alții despre tainele acestei arte, a continuat studiile muzicale în cadrul secției de Muzicologie a Academiei de Muzică “Gheorghe Dima”, Cluj-Napoca. Pe parcusul anilor de
                                    facultate a participat în numeroase turnee muzicale împreună cu corul Continental și ca solistă în cadrul evenimentelor precum Sing Gloria, Believe, Hope Celebration, dar și împreună cu corul Consonantis.
                                </p>
                                <p>
                                    În ceea ce privește lucrarea cu copiii, a dobândit experiență încă din perioada liceului, lucrând cu grupele de la școala duminicală. A participat și în cadrul mai multor conferințe, tabere și proiecte cu profil muzical, conducând grupuri de copii și predând muzica pe înțelesul lor.
                                    În prezent, Ioana este educatoare în cadrul grădiniței creștine “Seveth Heaven”. Muzica este una din uneltele esențiale folosite în educarea și modelarea comportamentelor copilașilor în exprimarea și relaționarea lor față de mediul înconjurător. De asemenea, continuă să participe cu drag la diverse evenimente și proiecte care îmbină muzica și cultivarea acesteia în micii artiști.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
