﻿<!-- Intro Section -->
<section style="background-image:url('../../Content/IMAGES/8. BANNERE/CantoBanner.jpg');" class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 data-title="About"><span>Canto</span></h1>
                <div class="page-breadcrumb">
                    <a>Școala Amadeus</a>/ <span>Canto</span>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Mission Section -->
<div id="mission-section" class="ptb ptb-xs-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="block-title v-line mb-35 ">
                    <h2 style="text-transform:none"><span>Cursuri de </span> canto</h2>
                    <p class="italic">
                        Să-i cunoaștem pe profesorii noștri
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="about-block clearfix">
                    <div class="fl width-25per box-shadow mt-15 mb-xs-15">
                        <img class="img-responsive" src="~/Content/IMAGES/9. CURSURI/GeorgianaCreta-Canto.jpeg" alt="Photo">
                    </div>
                    <div class="text-box pt-45 pb-15 pl-70 pl-xs-0 width-75per fl">
                        <div class="box-title">
                            <h3>Giorgiana-Maria Moldovan (Creța)
                            </h3>
                        </div>
                        <div class="text-content">
                            <p>
                                Pasionată de mică de muzică, a început studiul muzicii încă de la o vârstă fragedă, pasiunea sa împărțindu-se între arta interpretativă vocală și cea
                                pianistică. În cele din urmă, întreaga atenție i-a fost îndreptată asupra artei vocale, absolvind astfel secția de canto clasic la Liceul de Muzică „Tudor
                                Jarda”, parcurs fructificat prin participarea la numeroase concursuri. Relevante în acest sens sunt participarea la două ediții consecutive ale Concursului
                                Național de Interpretare a Muzicii Româneşti „Sigismund Toduţă”, obținând premiul II, respectiv premiul III și premiul I la Olimpiada de Interpretare Vocală,
                                faza zonală, calificându-se astfel la faza națională de la Baia Mare.
                                În prezent este studentă în anul IV la Academia de Muzică „Gh. Dima” din Cluj-Napoca, Facultatea de Interpretare, secția Canto clasic, unde studiază la clasa
                                prof. univ. dr. Elena Moldovan. De asemenea, a studiat în paralel și cursurile Facultății Teoretice, fiind absolventă a secției de Muzicologie (promoția 2019). În ceea ce privește practica muzicologică, aceasta a participat activ la festivaluri, conferințe și simpozioane muzicologice, abordând diferite tematici, urmând ca în anul 2017 să participe la Concursul Național de Muzicologie de la București cu tema Portret biografic. Anatol Vieru, lucrare care a fost publicată pe platforma UNMB și premiată cu Mențiunea I.
                                În ceea ce privește arta vocală, aceasta reușește să atingă performanțe prin participarea la numeroase recitaluri, masterclass-uri, spectacole de operă: Orfeo
                                ed Euridice, Così fan tutte, musicalul My fair Lady, fiind membru activ al claselor de operă ale Academiei de Muzică „Gh. Dima” conduse de lect. univ. dr. Ina
                                Hudea și lect. univ. dr. Tiberius Simu. Anul 2018 a însemnat o recunoaștere concretă a muncii sale prin obţinerea unei burse în cadrul mobilităţii Erasmus, 
                                primind astfel posibilitatea de a studia la ICR Viena pentru o perioadă de 3 luni, în vederea practicii artistice.               
                                Prima apariție pe scena Operei Naționale Române a avut-o prin intermediul spectacolului Tineri Artiști pe scena Operei, interpretând rolul lui Fiordiligi din
                                Così fan tutte de W. A. Mozart, în regia lui Tiberius Simu. De asemenea, aceasta a participat și la proiectul de activare a spațiilor urbane „Scena Urbană” cu
                                piesa de teatru muzical pentru copii - Alice în Ţara Jucăriilor - care a avut loc la Palatul Bánffy, sub conducerea dirijorului Vlad Eniu.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>