﻿<!-- Intro Section -->
<section style="background-image:url('../../Content/IMAGES/8. BANNERE/Compozitie.jpg');" class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 style="text-transform:none" data-title="About"><span>Compoziție, armonie și forme</span></h1>
                <div class="page-breadcrumb">
                    <a>Școala Amadeus</a>/ <span>Compoziție, armonie și forme</span>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Mission Section -->
<div id="mission-section" class="ptb ptb-xs-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="block-title v-line mb-35 ">
                    <h2 style="text-transform:none"><span>Cursuri de </span> compoziție, armonie și forme</h2>
                    <p class="italic">
                        Să-i cunoaștem pe profesorii noștri
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="about-block clearfix">
                <div class="fl width-25per box-shadow mt-15 mb-xs-15">
                    <img class="img-responsive" src="~/Content/IMAGES/9. CURSURI/Sebastian Tuna-compozitie.jpeg" alt="Photo">
                </div>
                <div class="text-box pt-45 pb-15 pl-70 pl-xs-0 width-75per fl">
                    <div class="box-title">
                        <h3>Sebastian Țună - profesor colaborator</h3>
                    </div>
                    <div class="text-content">
                        <p>
                            Compozitor, va preda cursul de armonie, forme și citire de partituri în cadrul secției de dirijat coral.
                        </p>
                        <p>
                            A urmat studiile de licenţă în Pedagogie Muzicală la Universitatea „Emanuel” din Oradea. Aceasta a fost și perioada primelor cursuri de iniţiere în compoziţie muzicală,
                            cu prof. univ. dr. Sabin Păutza, cel care l-a descoperit, sfătuit și încurajat să studieze compoziţia muzicală la o instituţie de profil. Astfel, începând cu anul 2012
                            va deveni student al Academiei de Muzica “Gheorghe Dima” din Cluj-Napoca, urmând studiile de licenţă, masterat și studiile doctorale – în prezent.  De-a lungul celor
                            trei cicluri universitare, efectuate la Academia de Muzică “Gh. Dima” din Cluj-Napoca, tânărul compozitor s-a bucurat de îndrumarea prof. univ. dr. Adrian Pop, iar la
                            masterat a avut privilegiul să studieze și cu acad. prof. univ. dr. Cornel Ţăranu.

                            Pentru activitatea componistică și prin participarea la diverse concursuri naţionale și internaţionale de compoziţie a fost recompensat cu numeroase premii; enumerăm dintre concursurile pe care le-a caștigat: Concursul internațional “Sigismund Toduță” (2017), Concursul internațional de interpretare și compoziţie FISP (2018), ”LOGOS” Music Award – Chicago 2016, Concursul naţional de interpretare și compozitie “Mihail Jora” (2017),  Concursul de interpretare și compoziţie “Paul Constantinescu” (2016), Concursul de aranjamente corale și compoziţie UEO (2014, 2015, 2017), alături sunt și alte premii precum, premiul de la concursul național “România 100” dedicat anului centenar al Romaniei, concursul “Stefan Niculescu”, concursul “Liviu Comes”, concursul “Alexandru Zirra” s.a.

                        </p>
                        <p>
                            În anul 2018 pentru activitatea componistică și performanţele academice i s-a conferit titlului academic DISCIPULUS STUDIOSUS PRIMUS INTER PARES NOSTRA ACADEMIA în Gala Muzicii Academice desfășurate la Cluj-Napoca.
                            A caștigat mai multe burse de studii dintre care amintim: bursa de studiu integrala ISA17 la cursurile de compoziţie de la The International Summer Academy mdw – University of Music and Performing Arts din Viena (August-Septembrie 2017), ICon Arts Transilvania – Composer In Residence (2017), bursa oferită pentru The “Mozarteum” Festival and Summer Academy în Salzburg (2018) etc.

                            În urma concursului de la conservatorul "Giuseppe Verdi" din Milano, a fost selecţionat pentru masteratul international 2019 - nivelul II, aprofundare compoziţie muzicală cu compozitorii Ivan Fedele, Salvatore Sciarrino, Michael Jarrell, Toshio Hosokawa, Beat Furrer.

                            A participat la numeroase cursuri și masterclass-uri de compoziţie susţinute de compozitori precum Cornel Ţăranu, Sabin Păutza, Peter Ruzicka (Germania), Octavian Nemescu, Doina Rotaru, Teodor Caciora, Augustin Fernandez (Anglia), Lasse Thoresen (Norvegia), Roland Moser (Elveția), Yann Robin (Franța), Francesco Filidei (Italia/Franța) s.a..
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





