﻿<!-- Intro Section -->
<section style="background-image:url('../../Content/IMAGES/8. BANNERE/PianoBanner.jpg');" class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 data-title="About"><span>Concurs</span></h1>
                <div class="page-breadcrumb">
                    <a>Școala Amadeus</a>/ <span>Concurs Pian</span>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Mission Section -->
<div id="mission-section" class="ptb ptb-xs-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="block-title v-line mb-35 ">
                    <h2 style="text-transform:none">Concurs</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div>
                <div>
                    <a href="/ScoalaAmadeus/DownloadRegulament">Regulament</a>
                </div>
                <div>
                    <a href="/ScoalaAmadeus/DownloadFisaDeInscriere">Fișă de Înscriere</a>
                </div>
            </div>
            <div class="row">
                <img src="~/Content/Concursuri/1/Poster.jpeg"/>
            </div>
        </div>
        <br />
        <div class="container">

        </div>
    </div>
</div>