﻿<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<!-- CONTENT -->
<!-- Intro Section -->
<section id="contactBackgroundId" class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 data-title="Contact"><span>Contact</span></h1>
                <div class="page-breadcrumb">
                    <a>Școala Amadeus</a>/ <span>Contact</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- Contact Section -->
<section class="padding ptb-xs-60">
    <div class="container">

        <div class="row">

            <div class="col-lg-8">

                <div class="headeing pb-30">
                    <h2 style="text-transform:none">Scrie-ne</h2>
                    <span class="b-line l-left line-h"></span>
                </div>
                <!-- Contact FORM -->
                <form class="contact-form " id="contact" action="/ScoalaAmadeus/Contact" method="post">
                    <!-- IF MAIL SENT SUCCESSFULLY -->
                    @*<div id="success">
                        <div role="alert" class="alert alert-success">
                            <strong>Thanks</strong> for using our template. Your message has been sent.
                        </div>
                    </div>*@
                    <!-- END IF MAIL SENT SUCCESSFULLY -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-field">
                                <input class="input-sm form-full" id="name" type="text" name="name" placeholder="Numele tău">
                            </div>
                            <div class="form-field">
                                <input class="input-sm form-full" id="email" type="text" name="email" placeholder="Email">
                            </div>
                            <div class="form-field">
                                <input class="input-sm form-full" id="sub" type="text" name="subject" placeholder="Subiect">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-field">
                                <textarea class="form-full" id="message" rows="7" name="message" placeholder="Mesajul tău"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-30">
                            <input class="btn-text" type="submit" id="submit" name="button" value="Trimite"/>
                        </div>
                    </div>
                </form>
                <!-- END Contact FORM -->
            </div>

            <div class="col-lg-4 contact mt-sm-30 mt-xs-30">
                <div class="headeing pb-20">
                    <h2 style="text-transform:none">Informații de contact</h2>
                    <span class="b-line l-left line-h"></span>
                </div>
                <div class="contact-info">

                    <ul class="info">
                        <li>
                            <div class="icon ion-ios-location"></div>
                            <div class="content">
                                <p>
                                    Școala Amadeus își desfășoară activitatea
                                </p>
                                <p>
                                    în incinta Liceului Teoretic Creștin "Pro Deo":
                                </p>
                                <p>
                                    Str. Grigore Alexandrescu nr.26A,
                                </p>
                                <p>
                                    Cod poștal 400529, Cluj-Napoca, județul Cluj.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div class="icon ion-android-call"></div>
                            <div class="content">
                                <p>
                                    <a href="tel:0756569364">0756 569 364</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon ion-ios-email"></div>
                            <div class="content">
                                <p>
                                    <a href="mailto:contact@scoalaamadeus.ro" title=""> contact@scoalaamadeus.ro</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <ul class="event-social">
                        <li>
                            <a href="https://www.facebook.com/%C8%98coala-Amadeus-291761214710421/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- Map Section -->

</section>
<!-- Map -->
<section class="map-box">
    <div class="map">
        <div id="map"></div>
    </div>
</section>
<script>
    // position we will use later
    var lat = 46.756002;
    var lon = 23.547241;
    // initialize map
    map = L.map('map').setView([lat, lon], 18);
    // set map tiles source
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18
    }).addTo(map);
    // add marker to the map
    marker = L.marker([lat, lon]).addTo(map);
    // add popup to the marker
    marker.bindPopup("<b>Școala Amadeus</b> isi desfasoara activitatea în incinta<br/><b>Liceul Teoretic Creștin \"PRO DEO\"</b><br /><br />Strada Grigore Alexandrescu 26A, Cluj-Napoca 400000").openPopup();

    map.scrollWheelZoom.disable();
</script>
<!-- Contact Section -->
<!--End Contact-->