﻿@model scoalaamadeus.ro.Models.EmailContactModel
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="display:flex; flex-grow:1">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="body_table">
        <div style="text-align: center;">
            <img width="200px" src="https://api.elasticemail.com/userfile/a87fed8a-48bc-4239-be7b-f8dfe6c7a66a/AmadeusCroppedRect.png" alt="#" />
        </div>
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="20" cellspacing="0" width="600" id="content">
                    <tr>
                        <td align="left" valign="top">
                            <h1>
                                Mesaj de la adresa de email: <a href="mailto:@Model.Email">@Model.Email</a>
                            </h1>
                            <br />Mesaj: <span style="white-space: pre-line">@Model.Message</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            Cand dai reply, te rog foloseste adresa mai sus indicata.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>