﻿<!-- Intro Section -->
<section style="background-image:url('../../Content/IMAGES/8. BANNERE/ChoirDirector.jpg');" class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 style="text-transform:none" data-title="About"><span>Dirijat coral</span></h1>
                <div class="page-breadcrumb">
                    <a>Școala Amadeus</a>/ <span>Dirijat coral</span>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Mission Section -->
<div id="mission-section" class="ptb ptb-xs-60">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div class="block-title v-line mb-35 ">
                    <h2 style="text-transform:none"><span>Cursuri de </span> dirijat coral</h2>
                    <p class="italic">
                        Să-i cunoaștem pe profesorii noștri
                    </p>

                </div>
            </div>
            <div class="col-md-3 col-lg-3 float-right">
                <object data="Dirijat - Scoala Amadeus Cluj.pdf" type="application/x-pdf" title="Dirijat - Scoala Amadeus ClujPdf" width="500" height="720">
                    <a style="color:#2d3c51; text-decoration:underline" href="~/Content/PDF/Dirijat - Scoala Amadeus Cluj.pdf" target="_blank">Programa dirijat coral</a>
                </object>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="about-block clearfix">
                    <div class="fl width-25per box-shadow mt-15 mb-xs-15">
                        <img class="img-responsive" src="~/Content/IMAGES/9. CURSURI/SilviuBratu-Dirijor.jpg" alt="Photo">
                    </div>
                    <div class="text-box pt-45 pb-15 pl-70 pl-xs-0 width-75per fl">
                        <div class="box-title">
                            <h3>Silviu Bratu</h3>
                        </div>
                        <div class="text-content">
                            <p>
                                A studiat mai întâi trompeta la Alba Iulia. După absolvirea liceului s-a înscris la Școala de Muzici Militare din București iar în prezent este trompetist
                                în cadrul Muzicii Militare din Cluj Napoca.
                                Este absolvent de licență și masterat în dirijat la clasa profesorilor: Florentin Mihăiescu, Ciprian Para, Cornel Groza și Victor Dumănescu. A participat la cursuri de măiestrie
                                susținute de: Jan Stulen, Noam Zur, Luis Salomon, Rolan Börger și Patrick Russill.
                            </p>
                            <p>
                                A activat în corul Cappella Transylvanica colaborând și cu alte ansambluri corale: Corul Filarmonicii de Stat „Transilvania”, corul Jubilate. Este membru fondator al Asociație
                                Consonantis și dirijor în cadrul acesteia. În prezent este doctorand în cadrul Academiei de Muzică Gheorghe Dima.
                            </p>
                        </div>
                        
                    </div>
                </div>
                <div class="about-block mb-40  clearfix">
                    <div class="fr width-25per box-shadow-l mt-15 mb-xs-15">
                        <img class="img-responsive" src="~/Content/IMAGES/9. CURSURI/RazvanNemes-Dirijor2.jpeg" alt="Photo">
                    </div>
                    <div class="text-box text-right text-xs-left pt-45 pr-70 pr-xs-0 width-75per fl">
                        <div class="box-title">
                            <h3>Răzvan Nemeș</h3>
                        </div>
                        <div class="text-content">
                            <p>
                                Va preda cursul de dirijat coral. A început studiul pianului la vârsta de 6 ani în Petroșani. În anul 2015 a absolvit studiile de licenţă
                                în Dirijat vocal-simfonic ale Academiei de Muzică din Cluj-Napoca. În cadrul licenţei a studiat cu maestrul Cornel Groza, prof. Ciprian Para,
                                prof. Mihaela Cesa-Goje, prof. Ildiko Kallo și maestrul Petru Sbârcea.
                            </p>
                            <p>
                                În anul 2017 a finalizat și masteratul în Dirijat, la Academia de Muzică “Gheorghe Dima” din Cluj-Napoca, cu maestrul Victor Dumanescu. De-a lungul anilor a participat la numeroase cursuri de măestrie printre care :
                                Roland Berger (2014 – masterclass internațional, 2016, 2017 si 2018), Patrik Russel, Noam Zurr, Luis Salomon, Cornel Groza. A avut ocazia să lucreze cu numeroase coruri, atât din ţară cât și din străinătate (S.U.A),
                                amintim corul Consonantis, corul Ave Musica, corul Jubilate, corul Bisericii Emanuel din Sacramento și corul Bisericii “Tabor Riverside” din Statele Unite ale Americii, corul “Lira” al Liceului de muzică din Deva,
                                corul de băieţi din Biserica “Betel” din Cluj etc. A dirijat și orchestra Academiei de Muzică din Cluj, iar în anul 2013 a fost dirijor principal al orchestrei “Phileo”.
                                În prezent este dirijor al Corului și Orchestrei Consonantis, dirijor principal al Corului de cameră Consonantis, dirijor al corului din Biserica Penticostală “Speranța” din Cluj și dirijor al corurilor de gimnaziu
                                și liceu ale Liceului Creștin “Pro Deo” din Cluj-Napoca. Pe lângă activitatea dirijorală, este profesor de muzică la Liceul Creștin “Pro Deo”, și directorul Școlii de Muzică “Amadeus” din Cluj-Napoca.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>