﻿	<!-- CONTENT -->
<!-- Intro Section -->
<section style="background-image:url(../../Content/IMAGES/4.ECHIPA/Echipa2.jpg)" class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 data-title="Team"><span>Echipa</span></h1>
                <div class="page-breadcrumb">
                    <a>Școala Amadeus</a>/ <span>Echipa</span>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- End Intro Section -->
<div class=" padding ptb-xs-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!--Team Section-->
                <section id="team" class="team-section">

                    <div class="container">
                        <div class="row text-center pb-30">
                            <div class="col-sm-12">
                                <div class="heading-box ">
                                    <h2><span>Echipa</span> noastră</h2>
                                    <span class="b-line"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-80 text-center">
                            <div class="col-lg-4 col-md-6 mb-xs-30">
                                <div class="box-hover img-scale">
                                    <figure>
                                        <img src="~/Content/IMAGES/7. PERSONAL/RazvanNemes-Director.jpg" alt="">
                                    </figure>

                                    <div class="team-block">
                                        <strong>Răzvan Nemeș</strong>
                                        <span>Director și profesor de dirijat coral</span>
                                        <hr class="small-divider border-white">
                                        <ul class="social-icons">
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/nemes.razvan.5"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-xs-30">
                                <div class="box-hover img-scale">
                                    <figure>
                                        <img src="~/Content/IMAGES/7. PERSONAL/Angela Chilari-Pian.jpg" alt="">
                                    </figure>

                                    <div class="team-block">
                                        <strong>Angela Chilari</strong>
                                        <span>Pian</span>
                                        <hr class="small-divider border-white">
                                        <ul class="social-icons">
                                            <li>
                                                @*<a target="https://www.facebook.com/kaszta.norbert" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>*@
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-xs-30 mt-sm-30">
                                <div class="box-hover img-scale">
                                    <figure>
                                        <img src="~/Content/IMAGES/7. PERSONAL/PaulaCampeanCroped.png" alt="">
                                    </figure>

                                    <div class="team-block">
                                        <strong>Paula Câmpean</strong>
                                        <span>Flaut</span>
                                        <hr class="small-divider border-white">
                                        <ul class="social-icons">
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/paula.souca95"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---->
                        <div class="row mt-80 text-center">
                            <div class="col-lg-4 col-md-6 mb-xs-30">
                                <div class="box-hover img-scale">
                                    <figure>
                                        <img src="~/Content/IMAGES/7. PERSONAL/Doroteea Ciupe-vioara.jpeg" alt="">
                                    </figure>
                                    <div class="team-block">
                                        <strong>Doroteea Ciupe</strong>
                                        <span>Vioară</span>
                                        <hr class="small-divider border-white">
                                        <ul class="social-icons">
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/ciupe.doroteea"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-xs-30">
                                <div class="box-hover img-scale">
                                    <figure>
                                        <img src="~/Content/IMAGES/7. PERSONAL/AndaBogdan-Percutie.jpg" alt="">
                                    </figure>

                                    <div class="team-block">
                                        <strong>Anda Bogdan</strong>
                                        <span>Percuție</span>
                                        <hr class="small-divider border-white">
                                        <ul class="social-icons">
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/anda.bogdan.752"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-xs-30">
                                <div class="box-hover img-scale">
                                    <figure>
                                        <img src="~/Content/IMAGES/7. PERSONAL/OnisorRodila.jpeg" alt="">
                                    </figure>

                                    <div class="team-block">
                                        <strong>Oni Rodilă</strong>
                                        <span>Improvizație Jazz</span>
                                        <hr class="small-divider border-white">
                                        <ul class="social-icons">
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/oni.rodila"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---->
                        <div class="row mt-80 text-center">

                            <div class="col-lg-4 col-md-6 mb-xs-30">
                                <div class="box-hover img-scale">
                                    <figure>
                                        <img src="~/Content/IMAGES/7. PERSONAL/SilviuBratu-Dirijor.jpg" alt="">
                                    </figure>

                                    <div class="team-block">
                                        <strong>Silviu Bratu</strong>
                                        <span>Dirijat Coral</span>
                                        <hr class="small-divider border-white">
                                        <ul class="social-icons">
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/carmina.gros"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-xs-30 mt-sm-30">
                                <div class="box-hover img-scale">
                                    <figure>
                                        <img src="~/Content/IMAGES/7. PERSONAL/GeorgianaCreta-Canto.jpeg" alt="">
                                    </figure>

                                    <div class="team-block">
                                        <strong>Giorgiana-Maria Moldovan (Creța)</strong>
                                        <span>Canto</span>
                                        <hr class="small-divider border-white">
                                        <ul class="social-icons">
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/profile.php?id=100000984290385"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-xs-30">
                                <div class="box-hover img-scale">
                                    <figure>
                                        <img src="~/Content/IMAGES/7. PERSONAL/CarminaBratu-TSD.jpg" alt="">
                                    </figure>

                                    <div class="team-block">
                                        <strong>Carmina Bratu</strong>
                                        <span>Teorie, solfegiu și istoria muzicii, ateliere pentru copii</span>
                                        <hr class="small-divider border-white">
                                        <ul class="social-icons">
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/carmina.gros"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                    <div class="row mt-80 text-center">
                        <div class="col-lg-4 col-md-6 mb-xs-30">
                                
                        </div>
                        <div class="col-lg-4 col-md-6 mb-xs-30">
                            <div class="box-hover img-scale">
                                <figure>
                                    <img src="~/Content/IMAGES/7. PERSONAL/Sebastian Tuna-dirijor.jpeg" alt="">
                                </figure>

                                <div class="team-block">
                                    <strong>Sebastian Țună</strong>
                                    <span>Profesor colaborator armonie și citire de partituri</span>
                                    <hr class="small-divider border-white">
                                    <ul class="social-icons">
                                        <li>
                                            <a target="_blank" href="https://www.facebook.com/sebiastian.tuna"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mb-xs-30 mt-sm-30">

                        </div>
                    </div>
                        <div class="row mt-80 text-center">
                            @*<div class="col-lg-4 col-md-6 mb-xs-30 mt-sm-30">
                                <div class="box-hover img-scale">
                                    <figure>
                                        <img src="~/Content/IMAGES/7. PERSONAL/LidiaMoldovan-Atelier.jpg" alt="">
                                    </figure>

                                    <div class="team-block">
                                        <strong>Lidia Moldovan</strong>
                                        <span>Ateliere pentru copii</span>
                                        <hr class="small-divider border-white">
                                        <ul class="social-icons">
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/muscan.lidia"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-xs-30 mt-sm-30">
                                <div class="box-hover img-scale">
                                    <figure>
                                        <img src="~/Content/IMAGES/7. PERSONAL/Priscila-atelier.jpeg" alt="">
                                    </figure>

                                    <div class="team-block">
                                        <strong>Priscila Ioana Dan</strong>
                                        <span>Ateliere pentru copii</span>
                                        <hr class="small-divider border-white">
                                        <ul class="social-icons">
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/ioanapriscilatincu"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>*@

                        </div>
                    </div>
                </section>
                <!--Team Section End-->
            </div>
        </div>
    </div>
</div>