﻿<!-- CONTENT -->
<!-- Intro Section -->
<section style="background-image:url('../../Content/IMAGES/5.GALERIE FOTO/PhotoGalleryBanner.jpg');" class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 data-title="Portfolio"><span style="text-transform:none">Galerie foto</span></h1>
                <div class="page-breadcrumb">
                    <a>Școala Amadeus</a>/<a style="text-transform:none">Galerie foto</a>
                </div>

            </div>

        </div>
    </div>
</section>
<div class="clearfix"></div>
<!-- End Intro Section -->
<!-- Work Section -->
<section id="work" class="padding ptb-xs-60">
    <div class="container">
        <div class="row pb-30 text-center">
            <div class="col-sm-12 mb-20">
                <h2 style="text-transform:none"><span>Galerie</span> foto</h2>
                <span class="b-line"></span>
            </div>
        </div>
        <!-- work Filter -->
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <ul class="container-filter categories-filter">
                    <li>
                        <a class="categories active" data-filter="*">Toate</a>
                    </li>
                    <li>
                        <a class="categories" data-filter=".pian">Pian</a>
                    </li>
                    <li>
                        <a class="categories" data-filter=".percutie">Percuție</a><!--.design-->
                    </li>
                    <li>
                        <a class="categories" data-filter=".cursuri">Cursuri</a><!--.photo-->
                    </li>
                    @*<li>
                        <a class="categories" data-filter=".coffee">Atelier pentru copii</a>
                    </li>*@
                </ul>
            </div>
        </div>
        <!-- End work Filter -->
        <div class="row container-masonry nf-col-3">

            <div class="nf-item pian coffee spacing">
                <div class="item-box">
                    <a href="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.27 PM(1).jpeg" class="fancylight" data-fancybox-group="light"> <img alt="1" src="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.27 PM(1).jpeg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.27 PM(1).jpeg" class="fancylight popup-btn same_style" data-fancybox-group="light"> <i class="fa fa-search-plus"></i> </a>
                        <div class="gallery-heading">
                            <h4><a href="#">Școala Amadeus</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nf-item grid-sizer pian spacing">
                <div class="item-box">
                    <a> <img alt="1" src="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.27 PM(2).jpeg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.27 PM(2).jpeg" class="fancylight popup-btn same_style" data-fancybox-group="light"> <i class="fa fa-search-plus"></i> </a>
                        <div class="gallery-heading">
                            <h4><a href="#">Școala Amadeus</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nf-item branding pian spacing">
                <div class="item-box">
                    <a> <img alt="1" src="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.28 PM(1).jpeg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.28 PM(1).jpeg" class="fancylight popup-btn same_style" data-fancybox-group="light"> <i class="fa fa-search-plus"></i> </a>
                        <div class="gallery-heading">
                            <h4><a href="#">Școala Amadeus</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nf-item cursuri spacing">
                <div class="item-box">
                    <a> <img alt="1" src="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.28 PM(2).jpeg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.28 PM(2).jpeg" class="fancylight popup-btn same_style" data-fancybox-group="light"> <i class="fa fa-search-plus"></i> </a>
                        <div class="gallery-heading">
                            <h4><a href="#">Școala Amadeus</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nf-item percutie spacing">
                <div class="item-box">
                    <a> <img alt="1" src="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.28 PM(3).jpeg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.28 PM(3).jpeg" class="fancylight popup-btn same_style" data-fancybox-group="light"> <i class="fa fa-search-plus"></i> </a>
                        <div class="gallery-heading">
                            <h4><a href="#">Școala Amadeus</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nf-item percutie spacing">
                <div class="item-box">
                    <a> <img alt="1" src="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.29 PM(1).jpeg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.29 PM(1).jpeg" class="fancylight popup-btn same_style" data-fancybox-group="light"> <i class="fa fa-search-plus"></i> </a>
                        <div class="gallery-heading">
                            <h4><a href="#">Școala Amadeus</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nf-item pian spacing">
                <div class="item-box">
                    <a> <img alt="1" src="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.29 PM(2).jpeg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.29 PM(2).jpeg" class="fancylight popup-btn same_style" data-fancybox-group="light"> <i class="fa fa-search-plus"></i> </a>
                        <div class="gallery-heading">
                            <h4><a href="#">Școala Amadeus</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nf-item pian spacing">
                <div class="item-box">
                    <a> <img alt="1" src="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.29 PM(2).jpeg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.29 PM(2).jpeg" class="fancylight popup-btn same_style" data-fancybox-group="light"> <i class="fa fa-search-plus"></i> </a>
                        <div class="gallery-heading">
                            <h4><a href="#">Școala Amadeus</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nf-item cursuri spacing">
                <div class="item-box">
                    <a> <img alt="1" src="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.30 PM(2).jpeg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.30 PM(2).jpeg" class="fancylight popup-btn same_style" data-fancybox-group="light"> <i class="fa fa-search-plus"></i> </a>
                        <div class="gallery-heading">
                            <h4><a href="#">Școala Amadeus</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nf-item cursuri spacing">
                <div class="item-box">
                    <a> <img alt="1" src="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.31 PM(1).jpeg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.31 PM(1).jpeg" class="fancylight popup-btn same_style" data-fancybox-group="light"> <i class="fa fa-search-plus"></i> </a>
                        <div class="gallery-heading">
                            <h4><a href="#">Școala Amadeus</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nf-item cursuri spacing">
                <div class="item-box">
                    <a> <img alt="1" src="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.31 PM.jpeg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="~/Content/IMAGES/5.GALERIE FOTO/WhatsApp Image 2019-02-09 at 12.59.31 PM.jpeg" class="fancylight popup-btn same_style" data-fancybox-group="light"> <i class="fa fa-search-plus"></i> </a>
                        <div class="gallery-heading">
                            <h4><a href="#">Școala Amadeus</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Contact-->