﻿<!-- Intro Section -->
<section style="background-image:url('../../Content/IMAGES/8. BANNERE/Percutie.jpg');" class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 data-title="About"><span>Percuție</span></h1>
                <div class="page-breadcrumb">
                    <a>Școala Amadeus</a>/ <span>Percuție</span>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Mission Section -->
<div id="mission-section" class="ptb ptb-xs-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="block-title v-line mb-35 ">
                    <h2 style="text-transform:none"><span>Cursuri de </span> percuție</h2>
                    <p class="italic">
                        Să-i cunoaștem pe profesorii noștri
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="about-block clearfix">
                    <div class="fl width-25per box-shadow mt-15 mb-xs-15">
                        <img class="img-responsive" src="~/Content/IMAGES/9. CURSURI/AndaBogdan-Percutie.jpg" alt="Photo">
                    </div>
                    <div class="text-box pt-45 pb-15 pl-70 pl-xs-0 width-75per fl">
                        <div class="box-title">
                            <h3>Anda Bogdan</h3>
                        </div>
                        <div class="text-content">
                            <p>
                                Absolventă de masterat a Academiei de Muzică “Gheorghe Dima” din Cluj Napoca, la secția percuție.
                                Pe parcursul studiilor masterale, am acumulat experiență în domeniul muzical/instrumental, colaborând atât cu Filarmonica de Stat Transilvania cât și cu Opera Română din Cluj-Napoca.
                            </p>
                            <p>
                                Prin prisma experienței dobandite, doresc ca în cadrul acestei instituții de învățământ, să dezvolt latura creativă a elevilor, să descopăr abilitățile muzicale și împreună să pășim în lumea ritmului.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>