﻿<!-- Intro Section -->
<section style="background-image:url('../../Content/IMAGES/8. BANNERE/PianoBanner.jpg');" class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 data-title="About"><span>Pian</span></h1>
                <div class="page-breadcrumb">
                    <a>Școala Amadeus</a>/ <span>Pian</span>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Mission Section -->
<div id="mission-section" class="ptb ptb-xs-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="block-title v-line mb-35 ">
                    <h2 style="text-transform:none"><span>Cursuri de </span> pian</h2>
                    <p class="italic">
                        Să-i cunoaștem pe profesorii noștri
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            @*<div class="col-md-12 col-lg-12">
                    <div class="about-block clearfix">
                        <div class="fl width-25per box-shadow mt-15 mb-xs-15">
                            <img class="img-responsive" src="~/Content/IMAGES/9. CURSURI/AlbertBursuc-Pian.jpg" alt="Photo">
                        </div>
                        <div class="text-box pt-45 pb-15 pl-70 pl-xs-0 width-75per fl">
                            <div class="box-title">
                                <h3>Albert Bursuc</h3>
                            </div>
                            <div class="text-content">
                                <p>
                                    Studiez pianul la Academia de Muzică 'Gheorghe Dima'.
                                    Am început să cânt la pian de mic, studiind în Italia până la vârsta de 19 ani. Am evoluat în recitaluri și concursuri atât ca solist cât și în formații camerale.
                                </p>
                                <p>
                                    Prin orele de pian predate la Școala Amadeus îmi doresc să ajut copiii să cunoască muzica și să cânte cu bucurie și perseverență la acest instrument.
                                </p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="about-block mb-40  clearfix">
                        <div class="fr width-25per box-shadow-l mt-15 mb-xs-15">
                            <img class="img-responsive" src="~/Content/IMAGES/9. CURSURI/EvanghelinaAsoltanei-Pian.jpg" alt="Photo">
                        </div>
                        <div class="text-box text-right text-xs-left pt-45 pr-70 pr-xs-0 width-75per fl">
                            <div class="box-title">
                                <h3>Evangheline Asoltanei</h3>
                            </div>
                            <div class="text-content">
                                <p>
                                    Sunt studentă a Academiei de muzică Gheorghe Dima din Cluj. Cânt la pian de la vârsta de 6 ani.
                                </p>
                                <p>
                                    Am cântat în multe recitaluri, concursuri atât solo cât și în formație camerală. În cadrul acestei școli îmi doresc să pășesc împreună cu elevii, dezvoltandu-le inițiativa, creativitatea și pasiunea pentru această lume minunată a pianului.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="about-block clearfix">
                        <div class="fl width-25per box-shadow mt-15 mb-xs-15">
                            <img class="img-responsive" src="~/Content/IMAGES/9. CURSURI/Angela Chilari-Pian.jpg" alt="Photo">
                        </div>
                        <div class="text-box pt-45 pb-15 pl-70 pl-xs-0 width-75per fl">
                            <div class="box-title">
                                <h3>Angela Chilari</h3>
                            </div>
                            <div class="text-content">
                                <p>
                                    Dragostea pentru muzică, în special pentru pian, este cea mai mare pasiune de la o vârstă fragedă, ceea ce a determinat-o să se dedice plenar acestui domeniu de activitate.
                                    Este absolventă a Universității de Stat „Alecu Russo” din Bălți, Republica Moldova.
                                </p>
                                <p>
                                    Și-a început activitatea didactică în calitate de maestru de concert, iar din anul 2000 până în prezent a activat în cadrul Școlii de Muzică „George Enescu” din mun. Bălți, Republica Moldova, în calitate de profesor de pian, preluând și funcția de șef de studii în ultimii 5 ani. Or, pianul este îndrăgit de oricine datorită faptului că poate înlocui o întreagă orchestră şi că poate cânta mai multe voci simultan.
                                    Formarea culturii interpretative a elevului pianist a constituit subiect de interes în cadrul a mai multor conferințe științifice naționale, participând cu diverse comunicări și publicând articole în culegerile conferințelor.
                                    În ultimii ani, a participat activ la Concursurile naționale „Prietenii muzicii” (2018, 2019), organizate de către fundația Culturală pro piano – România, Filiala Cluj-Napoca, obținând rezultate excelente în pregătirea/formarea elevilor și obținând premii valoroase. Anume acesta și reprezintă succesul fericirii: să ghidezi copiii și să te bucuri de fiecare rezultat, de orice realizare a lor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="about-block mb-40  clearfix">
                        <div class="fr width-25per box-shadow-l mt-15 mb-xs-15">
                            <img class="img-responsive" src="~/Content/IMAGES/9. CURSURI/Alex Timoce-pian.jpeg" alt="Photo">
                        </div>
                        <div class="text-box text-right text-xs-left pt-45 pr-70 pr-xs-0 width-75per fl">
                            <div class="box-title">
                                <h3>Alex Timoce</h3>
                            </div>
                            <div class="text-content">
                                <p>
                                    Studiez pianul la Academia de Muzică și sunt dornic să împărtășesc și elevilor din Școala de muzică Amadeus, frumoasele taine ale muzicii.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>