﻿    <!-- Intro Section -->
<!-- Intro Section -->
<section style="background-image:url('../../Content/IMAGES/8. BANNERE/MadeUpBanner.jpg');" class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 data-title="Service" style="text-transform:none"><span>Tarife și structura cursurilor</span></h1>
                <div class="page-breadcrumb">
                    <a>Școala Amadeus</a>/ <span>Tarife și structura cursurilor</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Intro Section -->
<div id="testimonial-section" class="padding">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12" style="text-align:center !important">
                <div class="heading-box pb-30">
                    <h2 style="text-transform:none">Tarife și structura cursurilor</h2>
                    <span class="b-line "></span>
                </div>
            </div>
        </div>

        <section class="page-section pricing-2 padding ptb-xs-60 columns_padding_25 pricing-style2 gray-bg" id="pricing_table2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        PIAN - Program simplu (4 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">400</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 4 ore instrument</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- table end -->
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        PIAN - Program avansați (8 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">740</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 8 ore instrument</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- table end -->
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        VIOARĂ - Program simplu (4 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">400</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 4 ore instrument</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- row end -->
                <br />
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        VIOARĂ - Program avansați (8 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">740</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 8 ore instrument</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- table end -->
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        PERCUȚIE - Program simplu (4 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">400</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 4 ore instrument</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- table end -->
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        PERCUȚIE - Program avansați (8 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">740</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 8 ore instrument</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- row end -->
                <br />
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        CHITARĂ - Program simplu (4 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">400</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 4 ore instrument</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- table end -->
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        CHITARĂ - Program avansați (8 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">740</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 8 ore instrument</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        CANTO
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">350</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li>4 ore canto</li>
                                    <li>Vârsta minima obligatorie: 16 ani.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        FLAUT - Program simplu (4 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">400</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li>4 ore instrument</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        FLAUT - Program avansați (8 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">740</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li>4 ore instrument</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        IMPROVIZAȚIE JAZZ - Program simplu (4 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">370</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li>4 ore instrument</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        IMPROVIZAȚIE JAZZ - Program avansați (8 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">700</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li>8 ore instrument</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        TEORIA MUZICII - Ora facultativă
                                    </p>
                                    <p>
                                        Ore disponibile din 1 Octombrie 2023
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">25</span><span class="duration"><b>RON/oră</b></span>
                                </div>
                                <ul class="price_feature">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        ATELIERE PENTRU COPII
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">180</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li>4 ore (o oră pe săptămână)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        DIRIJAT CORAL
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">400</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 4 ore dirijat coral</li>
                                    <li> 2 ore teorie</li>
                                    <li> 2 ore forme</li>
                                    <li> 2 ore armonie </li>
                                    <li> 2 ore istoria muzicii </li>
                                    <li> Cursurile vor fi împărțite în două zile ( două sambete pe lună) </li>
                                    <li> Menționăm că aceste cursuri sunt pentru primul semestru. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- table end -->
                </div>
                <!-- row end -->
                <br />
        </section>
    </div>
</div>
