﻿    @*<!-- Intro Section -->
<section style="background-image:url('../../Content/IMAGES/8. BANNERE/MadeUpBanner.jpg');" class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 data-title="Service" style="text-transform:none"><span>Tarife și structura cursurilor</span></h1>
                <div class="page-breadcrumb">
                    <a>Școala Amadeus</a>/ <span>Tarife și structura cursurilor</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Intro Section -->
<div id="testimonial-section" class="padding">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12" style="text-align:center !important">
                <div class="heading-box pb-30">
                    <h2 style="text-transform:none">Tarife și structura cursurilor</h2>
                    <span class="b-line "></span>
                </div>
            </div>
        </div>

        <section class="page-section pricing-2 padding ptb-xs-60 columns_padding_25 pricing-style2 gray-bg" id="pricing_table2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        PIAN - Program simplu (6 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">250</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 4 ore instrument</li>
                                    <li> 1 oră teorie</li>
                                    <li> 1 oră istoria muzicii (cor, alte activități)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- table end -->
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        PIAN - Program avansați (12 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">480</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 8 ore instrument</li>
                                    <li> 3 ore teorie</li>
                                    <li> 1 oră istoria muzicii (cor, alte activități)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- table end -->
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        VIOARĂ - Program simplu (6 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">250</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 4 ore instrument</li>
                                    <li> 1 oră teorie</li>
                                    <li> 1 oră istoria muzicii (cor, alte activități)</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- row end -->
                <br />
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        VIOARĂ - Program avansați (12 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">480</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 8 ore instrument</li>
                                    <li> 3 ore teorie</li>
                                    <li> 1 oră istoria muzicii (cor, alte activități)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- table end -->
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        PERCUȚIE - Program simplu (6 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">250</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 4 ore instrument</li>
                                    <li> 1 oră teorie</li>
                                    <li> 1 oră istoria muzicii (cor, alte activități)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- table end -->
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        PERCUȚIE - Program avansați (12 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">480</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 8 ore instrument</li>
                                    <li> 3 ore teorie</li>
                                    <li> 1 oră istoria muzicii (cor, alte activități)</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- row end -->
                <br />
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        CHITARĂ - Program simplu (6 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">250</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 4 ore instrument</li>
                                    <li> 1 oră teorie</li>
                                    <li> 1 oră istoria muzicii (cor, alte activități)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- table end -->
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        CHITARĂ - Program avansați (12 ore)
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">480</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 8 ore instrument</li>
                                    <li> 3 ore teorie</li>
                                    <li> 1 oră istoria muzicii (cor, alte activități)</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        CANTO
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">250</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li>4 ore canto</li>
                                    <li>1 oră teoria muzicii</li>
                                    <li>Vârsta minima obligatorie: 16 ani.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                    

                   
                    <!-- table end -->


                </div>
                <!-- row end -->
                <br />
                <div class="row">

                    <!-- table end -->
                    <!-- table end -->
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        DIRIJAT CORAL
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">350</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li> 4 ore dirijat coral</li>
                                    <li> 2 ore teorie</li>
                                    <li> 2 ore forme</li>
                                    <li> 2 ore armonie </li>
                                    <li> 2 ore istoria muzicii </li>
                                    <li> Cursurile vor fi împărțite în două zile ( două sambete pe lună) </li>
                                    <li> Menționăm că aceste cursuri sunt pentru primul semestru. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-xs-30">
                        <div class="pricing_table">
                            <div class="package_title">
                                <div class="pricing-top bg-color">
                                    <p>
                                        ATELIERE PENTRU COPII
                                    </p>
                                </div>
                                <div class="package-price">
                                    <span class="currency-symbol"></span><span class="price">120</span><span class="duration"><b>RON/lună</b></span>
                                </div>
                                <ul class="price_feature">
                                    <li>4 ore (o oră pe săptămână)</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                   
                <!-- row end -->
            </div>
        </section>*@
        <!--End Contact-->








        @*<div class="row mt-60">
                <div class="col-md-6 col-lg-6">
                    <div class="about-block gray-bg   padding-40 clearfix">
                        <div class="client-avtar">
                            <img src="~/Content/IMAGES/10.TARIFE/1. Pian3.jpg" class="img-responsive" alt="Responsive image">
                        </div>
                        <div class="text-box">
                            <div class="text-content">
                                <p>
                                    1. Program <b>lunar</b> simplu (6 ore) – <b>250 RON.</b>
                                    <br />
                                    2. Program <b>lunar</b> avansați (12 ore) – <b>480 RON.</b>
                                </p>
                            </div>
                            <div class="box-title">
                                <h4><b>Pian</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="about-block dark-gray-bg  padding-40 clearfix">
                        <div class="client-avtar left-pos">
                            <img src="~/Content/IMAGES/10.TARIFE/2. Vioara2.jpg" class="img-responsive" alt="Responsive image">
                        </div>
                        <div class="text-box">
                            <div class="text-content">
                                <p>
                                    1. Program <b>lunar</b> simplu (6 ore) – <b>250 RON.</b>
                                    <br />
                                    2. Program <b>lunar</b> avansați (12 ore) – <b>480 RON.</b>
                                </p>
                            </div>
                            <div class="box-title">
                                <h4><b>Vioară</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-80">
                <div class="col-md-6 col-lg-6">
                    <div class="about-block dark-gray-bg   padding-40 clearfix">
                        <div class="client-avtar">
                            <img src="~/Content/IMAGES/10.TARIFE/3. Drums2.jpg" class="img-responsive" alt="Responsive image">
                        </div>
                        <div class="text-box">
                            <div class="text-content">
                                <p>
                                    1. Program <b>lunar</b> simplu (6 ore) – <b>250 RON.</b>
                                    <br />
                                    2. Program <b>lunar</b> avansați (12 ore) – <b>480 RON.</b>
                                </p>
                            </div>
                            <div class="box-title">
                                <h4><b>Percuție</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="about-block gray-bg  padding-40 clearfix">
                        <div class="client-avtar left-pos">
                            <img src="~/Content/IMAGES/10.TARIFE/4. Guitar3.jpg" class="img-responsive" alt="Responsive image">
                        </div>
                        <div class="text-box">
                            <div class="text-content">
                                <p>
                                    1. Program <b>lunar</b> simplu (6 ore) – <b>250 RON.</b>
                                    <br />
                                    2. Program <b>lunar</b> avansați (12 ore) – <b>480 RON.</b>
                                </p>
                            </div>
                            <div class="box-title">
                                <h4><b>Chitară</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-80">
                <div class="col-md-6 col-lg-6">
                    <div class="about-block gray-bg   padding-40 clearfix">
                        <div class="client-avtar">
                            <img src="~/Content/IMAGES/10.TARIFE/5. Director3.jpg" class="img-responsive" alt="Responsive image">
                        </div>
                        <div class="text-box">
                            <div class="text-content">
                                <p>
                                    Costul <b>lunar</b> al acestor cursuri este de <b>350 RON.</b>.
                                </p>
                            </div>
                            <div class="box-title">
                                <h4><b>Dirijat coral</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="about-block dark-gray-bg  padding-40 clearfix">
                        <div class="client-avtar left-pos">
                            <img src="~/Content/IMAGES/10.TARIFE/7. Canto2.jpg" class="img-responsive" alt="Responsive image">
                        </div>
                        <div class="text-box">
                            <div class="text-content">
                                <p>
                                    Costul <b>lunar</b> al acestui curs este de 250 RON.
                                </p>
                            </div>
                            <div class="box-title">
                                <h4><b>Canto</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-80">
                <div class="col-md-6 col-lg-6">
                    <div class="about-block dark-gray-bg  padding-40 clearfix">
                        <div class="client-avtar left-pos">
                            <img src="~/Content/IMAGES/10.TARIFE/6. Ateliere21.jpg" class="img-responsive" alt="Responsive image">
                        </div>
                        <div class="text-box">
                            <div class="text-content">
                                <p>
                                    Costul <b>lunar</b> al acestor cursuri este de 120 RON.
                                </p>
                            </div>
                            <div class="box-title">
                                <h4><b>Ateliere pentru copii</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>*@
<!-- Testimonial section end -->
