﻿<!-- Intro Section -->
<section style="background-image:url('../../Content/IMAGES/8. BANNERE/MusicNotes.jpg');" class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 style="text-transform:none" data-title="About"><span>Teorie, solfegiu și istoria muzicii</span></h1>
                <div class="page-breadcrumb">
                    <a>Școala Amadeus</a>/ <span>Teorie, solfegiu și istoria muzicii</span>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Mission Section -->
<div id="mission-section" class="ptb ptb-xs-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="block-title v-line mb-35 ">
                    <h2 style="text-transform:none"><span>Cursuri de </span> teorie, solfegiu și istoria muzicii</h2>
                    <p class="italic">
                        Să-i cunoaștem pe profesorii noștri
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="about-block clearfix">
                    <div class="fl width-25per box-shadow mt-15 mb-xs-15">
                        <img class="img-responsive" src="~/Content/IMAGES/9. CURSURI/CarminaBratu-TSD.jpg" alt="Photo">
                    </div>
                    <div class="text-box pt-45 pb-15 pl-70 pl-xs-0 width-75per fl">
                        <div class="box-title">
                            <h3>Carmina Bratu</h3>
                        </div>
                        <div class="text-content">
                            <p>
                                Voi preda la Școala Amadeus orele de teorie, solfegiu și cele de Istoria muzicii.
                                Pregătirea mea muzicală s-a finalizat cu studii de Masterat la Academia de Muzică Gheorghe Dima.
                            </p>
                            <p>
                                Vă invit, dragi copii, să parcurgem împreună cele mai interesante noțiuni teoretice și de istoria muzicii.
                                O să vedeți că acestea pot fi chiar distractive și pe înțelesul tuturor!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>