﻿<!-- Intro Section -->
<section style="background-image:url('../../Content/IMAGES/8. BANNERE/Violin2.jpg');" class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 data-title="About"><span>Vioară</span></h1>
                <div class="page-breadcrumb">
                    <a>Școala Amadeus</a>/ <span>Vioară</span>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Mission Section -->
<div id="mission-section" class="ptb ptb-xs-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="block-title v-line mb-35 ">
                    <h2 style="text-transform:none"><span>Cursuri de </span> vioară</h2>
                    <p class="italic">
                        Să-i cunoaștem pe profesorii noștri
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="about-block clearfix">
                    <div class="fl width-25per box-shadow mt-15 mb-xs-15">
                        <img class="img-responsive" src="~/Content/IMAGES/9. CURSURI/Doroteea Ciupe-vioara.jpeg" alt="Photo">
                    </div>
                    <div class="text-box pt-45 pb-15 pl-70 pl-xs-0 width-75per fl">
                        <div class="box-title">
                            <h3>Doroteea Ciupe</h3>
                        </div>
                        <div class="text-content">
                            <p>
                                Am început să studiez la vioară de la 7 ani. Anul trecut am terminat Academia de muzică din Cluj. 
                                Din liceu începând am avut ocazia să cânt în mai multe proiecte cu diverse orchestre.
                                Predau vioară de la începutul facultății și îmi place foarte mult să lucrez cu copiii.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>